@use "../../theme" as *;

.snipper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
.loader {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    border-top: 10px solid $primary-color;
    border-right: 10px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 110;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 